# registry=https://registry.npmjs.org/
# home=https://www.npmjs.com/
registry=https://registry.npm.taobao.org/
home=https://npm.taobao.org/
puppeteer_download_host=https://npm.taobao.org/mirrors/
disturl=https://npm.taobao.org/mirrors/node/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/
electron_mirror=http://npm.taobao.org/mirrors/electron/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
selenium_cdnurl=http://npm.taobao.org/mirrors/selenium/
node_inspector_cdnurl=https://npm.taobao.org/mirrors/node-inspector/
sqlite3_binary_site=https://npm.taobao.org/mirrors/sqlite3/
sharp_dist_base_url=https://npm.taobao.org/mirrors/sharp-libvips/
python_mirror=https://npm.taobao.org/mirrors/python/
